POSTGRES_USER=dbuser
POSTGRES_PASSWORD=db-password
POSTGRES_DB=MYDB




postgresql://dbuser:IveFXyIx0bXBgng1gm2PbPAoLTwxh2Im@dpg-d7kvobl7vvec739p2750-a/mydb_2d0m

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

{
  "message": "Send an email to your_email@gmail.com saying deployment works"
}